nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

nav ul li a:hover {
  color: #7bd997;
}

em {
  font-weight: 700;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  background-color: #242222;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

figure {
  margin-right: 20px;
  max-width: 40%;
  transition: transform 2s ease;
}

figure img {
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tower {
  margin-left: 30px;
  margin-top: 70px;
}

figure:hover img {
  transform: scale(1.009);
}

figure figcaption {
  font-size: 0.8em;
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
}

.content {
  max-width: 60%;
}

h1 {
  font-size: 3em;
  margin-top: 0px;
  text-align: center;
  color: #ffffff;
  font-family: "Red Hat Display", sans-serif;
  word-spacing: 5px;
}

#Intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#Intro p {
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  font-family: "Onest", sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.6;
}

.box {
  background-color: #090909;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 2s ease;
}

#Intro .box:hover {
  background-color: #555;
}

h2 {
  color: #000000;
  font-size: 32px;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}

#location-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
}

.location-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 650px;
}

.location-info img {
  transition: transform 1s ease;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 300px;
  margin-bottom: 10px;
}

.location-info:hover img {
  transform: scale(1.05);
}

.location-info h4 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.location-info p {
  font-family: "Onest", sans-serif;
  font-size: 16px;
  line-height: 1.9;
  margin: 0;
}

.text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.people {
  color: #242222;
}
.people-society-container {
  display: flex;
  justify-content: space-between;
  background-color: #242222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #fff;
  padding: 50px;
}

.image-containerp {
  width: 45%;
}

.image-containerp img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 50px;
}

.content-container {
  width: 55%;
}

.content-box {
  font-family: "Onest", sans-serif;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 10px;
  padding: 30px;
}

.content-box h3 {
  color: #fff;
  margin-top: 20px;
  text-align: left;
}

.content-box ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.content-box ul li {
  margin-bottom: 10px;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.image-container .environ {
  width: 700px;
  margin-top: 80px;
}

.footer {
  background-color: #ffffff;
  color: #272424;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.footer-container {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-container ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-container li {
  font-family: "Onest", sans-serif;
  font-size: 16px;
  margin: 0 10px;
}

.footer-container a {
  color: #302e2e;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-container a:hover {
  color: #7bd997;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #8d8d8d;
}

a:active {
  color: #ffffff;
  background-color: #29b352;
  padding: 2px 4px;
  border-radius: 4px;
}
